USE [shopease]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttributeOptions]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttributeOptions](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryAttributeId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](120) NOT NULL,
	[Label] [nvarchar](160) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AttributeOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionResults]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionResults](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[WinnerId] [uniqueidentifier] NULL,
	[WinningAmount] [decimal](18, 2) NULL,
	[ReserveMet] [bit] NOT NULL,
	[EndedAt] [datetime2](7) NOT NULL,
	[EndReason] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_AuctionResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bids]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bids](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[BidderId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsAutoBid] [bit] NOT NULL,
	[IsWinning] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Bids] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessProfiles]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessProfiles](
	[Id] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[GstNumber] [nvarchar](20) NOT NULL,
	[PanNumber] [nvarchar](15) NOT NULL,
	[BusinessAddress] [nvarchar](500) NULL,
	[BusinessPhone] [nvarchar](20) NULL,
	[BusinessEmail] [nvarchar](255) NULL,
	[BusinessWebsite] [nvarchar](255) NULL,
	[VerificationStatus] [int] NOT NULL,
	[RejectionReason] [nvarchar](1000) NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[VerifiedByAdminId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_BusinessProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CartId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryAttributes]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryAttributes](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[DisplayName] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DataType] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsFilterable] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Placeholder] [nvarchar](160) NULL,
	[Unit] [nvarchar](30) NULL,
	[MinLength] [int] NULL,
	[MaxLength] [int] NULL,
	[MinValue] [decimal](18, 2) NULL,
	[MaxValue] [decimal](18, 2) NULL,
	[RegexPattern] [nvarchar](500) NULL,
	[ConditionAttributeId] [uniqueidentifier] NULL,
	[ConditionOperator] [int] NULL,
	[ConditionValue] [nvarchar](250) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CategoryAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[HtmlBody] [nvarchar](max) NOT NULL,
	[TemplateType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Version] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingApprovalLogs]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingApprovalLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[VersionId] [uniqueidentifier] NULL,
	[AdminId] [uniqueidentifier] NOT NULL,
	[Action] [int] NOT NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ListingApprovalLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingAttributeValues]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingAttributeValues](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[CategoryAttributeId] [uniqueidentifier] NOT NULL,
	[Value] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ListingAttributeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingImages]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingImages](
	[Id] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](500) NOT NULL,
	[AltText] [nvarchar](200) NULL,
	[SortOrder] [int] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ListingImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listings]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](80) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[FreeShipping] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[PrimaryImageUrl] [nvarchar](500) NULL,
	[SellerId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[AuctionEndAt] [datetime2](7) NULL,
	[AuctionStartAt] [datetime2](7) NULL,
	[BuyItNowPrice] [decimal](18, 2) NULL,
	[ListingType] [int] NOT NULL,
	[ReservePrice] [decimal](18, 2) NULL,
	[StartingBid] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[HasPendingVersion] [bit] NOT NULL,
	[AutoExtendOnBid] [bit] NOT NULL,
	[BidCount] [int] NOT NULL,
	[CurrentBidAmount] [decimal](18, 2) NULL,
	[CurrentBidderId] [uniqueidentifier] NULL,
	[MinBidIncrement] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Listings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingVersions]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingVersions](
	[Id] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[VersionNumber] [int] NOT NULL,
	[SnapshotJson] [nvarchar](max) NOT NULL,
	[IsPendingUpdate] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[RejectionReason] [nvarchar](2000) NULL,
	[ReviewedByAdminId] [uniqueidentifier] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ListingVersions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingViews]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingViews](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[LastViewedAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ListingViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ListingTitle] [nvarchar](80) NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[ListingId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[Notes] [nvarchar](1000) NULL,
	[BuyerId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Carrier] [nvarchar](100) NULL,
	[DeliveredAt] [datetime2](7) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentReference] [nvarchar](100) NULL,
	[PaymentStatus] [int] NOT NULL,
	[ShippedAt] [datetime2](7) NULL,
	[TrackingNumber] [nvarchar](100) NULL,
	[UpiId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[ReplacedByToken] [nvarchar](500) NULL,
	[CreatedByIp] [nvarchar](50) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDocuments]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDocuments](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[DocumentType] [int] NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[BusinessProfileId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_UserDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-08-2026 03:14:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[AccountType] [int] NOT NULL,
	[Role] [int] NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[EmailVerificationToken] [nvarchar](200) NULL,
	[EmailVerificationTokenExpiry] [datetime2](7) NULL,
	[IsSuspended] [bit] NOT NULL,
	[PasswordResetToken] [nvarchar](200) NULL,
	[PasswordResetTokenExpiry] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [ListingType]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0.0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [HasPendingVersion]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AutoExtendOnBid]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((0)) FOR [BidCount]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((1.0)) FOR [MinBidIncrement]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'COD') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSuspended]
GO
ALTER TABLE [dbo].[AttributeOptions]  WITH CHECK ADD  CONSTRAINT [FK_AttributeOptions_CategoryAttributes_CategoryAttributeId] FOREIGN KEY([CategoryAttributeId])
REFERENCES [dbo].[CategoryAttributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttributeOptions] CHECK CONSTRAINT [FK_AttributeOptions_CategoryAttributes_CategoryAttributeId]
GO
ALTER TABLE [dbo].[AuctionResults]  WITH CHECK ADD  CONSTRAINT [FK_AuctionResults_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuctionResults] CHECK CONSTRAINT [FK_AuctionResults_Listings_ListingId]
GO
ALTER TABLE [dbo].[AuctionResults]  WITH CHECK ADD  CONSTRAINT [FK_AuctionResults_Users_WinnerId] FOREIGN KEY([WinnerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuctionResults] CHECK CONSTRAINT [FK_AuctionResults_Users_WinnerId]
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD  CONSTRAINT [FK_Bids_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bids] CHECK CONSTRAINT [FK_Bids_Listings_ListingId]
GO
ALTER TABLE [dbo].[Bids]  WITH CHECK ADD  CONSTRAINT [FK_Bids_Users_BidderId] FOREIGN KEY([BidderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bids] CHECK CONSTRAINT [FK_Bids_Users_BidderId]
GO
ALTER TABLE [dbo].[BusinessProfiles]  WITH CHECK ADD  CONSTRAINT [FK_BusinessProfiles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessProfiles] CHECK CONSTRAINT [FK_BusinessProfiles_Users_UserId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Listings_ListingId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[CategoryAttributes]  WITH CHECK ADD  CONSTRAINT [FK_CategoryAttributes_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryAttributes] CHECK CONSTRAINT [FK_CategoryAttributes_Categories_CategoryId]
GO
ALTER TABLE [dbo].[CategoryAttributes]  WITH CHECK ADD  CONSTRAINT [FK_CategoryAttributes_CategoryAttributes_ConditionAttributeId] FOREIGN KEY([ConditionAttributeId])
REFERENCES [dbo].[CategoryAttributes] ([Id])
GO
ALTER TABLE [dbo].[CategoryAttributes] CHECK CONSTRAINT [FK_CategoryAttributes_CategoryAttributes_ConditionAttributeId]
GO
ALTER TABLE [dbo].[ListingApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK_ListingApprovalLogs_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
GO
ALTER TABLE [dbo].[ListingApprovalLogs] CHECK CONSTRAINT [FK_ListingApprovalLogs_Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK_ListingApprovalLogs_ListingVersions_VersionId] FOREIGN KEY([VersionId])
REFERENCES [dbo].[ListingVersions] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ListingApprovalLogs] CHECK CONSTRAINT [FK_ListingApprovalLogs_ListingVersions_VersionId]
GO
ALTER TABLE [dbo].[ListingApprovalLogs]  WITH CHECK ADD  CONSTRAINT [FK_ListingApprovalLogs_Users_AdminId] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ListingApprovalLogs] CHECK CONSTRAINT [FK_ListingApprovalLogs_Users_AdminId]
GO
ALTER TABLE [dbo].[ListingAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ListingAttributeValues_CategoryAttributes_CategoryAttributeId] FOREIGN KEY([CategoryAttributeId])
REFERENCES [dbo].[CategoryAttributes] ([Id])
GO
ALTER TABLE [dbo].[ListingAttributeValues] CHECK CONSTRAINT [FK_ListingAttributeValues_CategoryAttributes_CategoryAttributeId]
GO
ALTER TABLE [dbo].[ListingAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ListingAttributeValues_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingAttributeValues] CHECK CONSTRAINT [FK_ListingAttributeValues_Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingImages]  WITH CHECK ADD  CONSTRAINT [FK_ListingImages_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingImages] CHECK CONSTRAINT [FK_ListingImages_Listings_ListingId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_Users_SellerId]
GO
ALTER TABLE [dbo].[ListingVersions]  WITH CHECK ADD  CONSTRAINT [FK_ListingVersions_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingVersions] CHECK CONSTRAINT [FK_ListingVersions_Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingVersions]  WITH CHECK ADD  CONSTRAINT [FK_ListingVersions_Users_ReviewedByAdminId] FOREIGN KEY([ReviewedByAdminId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ListingVersions] CHECK CONSTRAINT [FK_ListingVersions_Users_ReviewedByAdminId]
GO
ALTER TABLE [dbo].[ListingViews]  WITH CHECK ADD  CONSTRAINT [FK_ListingViews_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingViews] CHECK CONSTRAINT [FK_ListingViews_Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingViews]  WITH CHECK ADD  CONSTRAINT [FK_ListingViews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingViews] CHECK CONSTRAINT [FK_ListingViews_Users_UserId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Listings_ListingId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_BuyerId] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_BuyerId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[UserDocuments]  WITH CHECK ADD  CONSTRAINT [FK_UserDocuments_BusinessProfiles_BusinessProfileId] FOREIGN KEY([BusinessProfileId])
REFERENCES [dbo].[BusinessProfiles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDocuments] CHECK CONSTRAINT [FK_UserDocuments_BusinessProfiles_BusinessProfileId]
GO
